<!DOCTYPE html>
<html>
<head>
	<link href="img/favicon.png" rel="icon">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>江玲叶_2017339960035课程设计</title>
	<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
	<div class="lowin lowin-blue">
		<div class="lowin-brand">
			<img src="/img/kodinger.jpg" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form id = "login">
						<p>Sign in to continue</p>
						<div class="lowin-group">
							<label>Account <a href="#" class="login-back-link">Sign in?</a></label>
							<input type="text"  name="userId" class="lowin-input">
						</div>
						<div class="lowin-group password-group">
							<label>Password </label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input">
						</div>
						<div class = "lowin-group" >
							<label>Authority  </label>
							<select class="lowin-input" name = "identity">
								<option>学生</option>
								<option>教师</option>
								<option>超级管理员</option>
							</select>
						</div>
					</form>
					<button type="button" class="lowin-btn login-btn" id = "submit">
						Sign In
					</button>
				</div>
			</div>
	</div>
	</div>
	<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="/lib/index.js"></script>
</body>
</html>